.lc-slider .vertical-center {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.lc-slider .surimposed {
    opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.lc-slider:hover .surimposed {
    opacity: 1;
	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}



/* Default configuration for displaying images */

.lc-slider-slide  {
    z-index: 0;
    text-align: center;
    overflow:hidden;
}

.lc-slider .lc-slider-picture {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}


/***********
 * Caption *
 ***********/
.lc-slider-caption {
    height: 200px;
    width: 500px;
    left:0;
    right: 500px;
    color:#fff;

}
.lc-slider-caption h2 {

    font-size: 60px;
    line-height: 66px;
}

.lc-slider-caption  a {
    display: inline-block;
    margin-top: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 9px;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    display: inline-block;
    font-family: "Open Sans","Helvetica Neue","Helvetica",Arial,serif;
    text-transform: uppercase;
    text-align: center;
}

/**************
 * Description
 **************/
.lc-slider-description {
    position:absolute;
    bottom: 0;
    right: 0;

    padding: 5px;

    color: #fff;
}