/* Default configuration for displaying images */

.lc-slider-slide  {
    overflow:hidden;
}

.lc-slider .lc-slider-picture {
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
}


.lc-slider-caption {
    position: absolute;
    top: 20%;
    left: 10%;
}

.lc-slider-title span {
    background-color: rgba(0,0,0,0.2);
    color: #000;

    padding: 10px 20px;
    font-size: 60px;
    line-height: 66px;
}

.lc-slider-link {
        margin-top: 40px;

}

.lc-slider-link a {
    background-color: rgba(0,0,0,0.2);
    color: #000;

    font-size: 14px;
    padding: 10px 25px;
}

.lc-slider-link:hover a {
    background-color: rgba(0,0,0,0.6);
}


.lc-slider-description {
    position:absolute;
    bottom: 0;
    right: 0;

    padding: 5px;

    color: #000;

    background-color: rgba(0,0,0,0.2);
}